@use '../abstract/variaveis';
@use '../abstract/mixins';

header{
    background: variaveis.$gradiente-primario;
    padding: 2rem;
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
        .linha{
            border-top: 1px solid black;
            width: 80%;
        }
        ul{
            display: inline-flex;
            gap: 2rem;
            li{
                list-style-type: none;
            }
            a{
                text-decoration: none;
                @include mixins.ff-fs-cl(variaveis.$ft-textos,1rem,variaveis.$cor-primaria);
                font-weight: 500;
                &:hover{
                    font-weight: 600;
                    
                }
            }
        }
    }

    #home{
        max-width: 1040px;
        @include mixins.margem-central(80%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .textos-home{
            max-width: 464px;
            h1{
                font-size: 42px;
                color: variaveis.$cor-primaria;
                margin-bottom: 2rem;
                font-family: variaveis.$ft-titulos;
                span{
                    color: variaveis.$cor-secundaria;
                }
            }

            .btn-main{
                color: rgba(255, 255, 255, 1);
                background-color: variaveis.$cor-secundaria;
                border-radius: 40px;
                font-size: 1.375rem;
                font-weight: 600;
                padding: 1.5rem 3.71rem;
                border-color: transparent;

                &:hover{
                    background-color: #3700dc;
                }
            }

        }

        .img-home{
            max-width: 474px;
            img{
                width: 100%;
            }
        }
    }
}