@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --Cor-Primaria: #000000;
    --Cor-Secundaria:white;
    --Cor-Terciaria: #22D4fd;
    --Cor-Hover: #272727;
}

*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    
    background-color: var(--Cor-Primaria);
    color: var(--Cor-Secundaria);
    box-sizing: border-box;
   
}

.cabecalho-menu-link{
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    color: var(--Cor-Terciaria);
}

.cabecalho-menu{
    display: flex;
    gap: 80px;
}


.cabecalho{
    padding: 2% 0 0 15%;
}

.destaque-titulo{
    color: var(--Cor-Terciaria);
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao-conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao-conteudo-titulo{
    font-size: 36px;
    font-family: 'Krona One',sans-serif;
}

.apresentacao-conteudo-texto{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao-links-subtitulo{
    font-family: "Krono One", sans-serif;
    font-size: 24px;
}

.apresentacao-links-bt{
    width: 378px;
    text-align: center;
    border: 2px solid var(--Cor-Terciaria);
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--Cor-Secundaria);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.apresentacao-links-bt:hover{
    background-color:var(--Cor-Hover);
}

.rodape{
    color: var(--Cor-Primaria);
    background-color: var(--Cor-Terciaria);
    padding: 24px 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}