*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    
    background-color: black;
    color: white;
    box-sizing: border-box;
   
}

.destaque-titulo{
    color: #22D4fd;
}

.apresentacao{
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}