.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url(/imagens/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho{
    background-color: var(--branco-fundo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.conteiner{
    display: flex;
    align-items: center;
}

.conteiner__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.conteiner__botao:checked~.lista-menu{
    display: block;
}

.lista__menu__titulo, .lista__menu__item{
    padding: 1em;
    background-color: var(--branco-fundo);
}

.lista__menu__titulo{
    color: var(--laranja);
}

.lista-menu__link{

    background: var(--azul-degrade);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    text-decoration: none;
    text-transform: uppercase;

}