:root{
    --Branco-Principal: #FFFFFF;
    --Cinza-Secundaria: #c0c0c0c0;
    --Bt-Azul: #167bf7;
    --Cor-de-fundo: #00030c;

}

*{
    margin: 0;
    padding: 0%;
}

body{
    background-color: var(--Cor-de-fundo);
}

h1{
    color: #FFFFFF;
}

